/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  /* Header Styles */
  
  header {
    background-color: #736f6f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
  }
  
  header nav li {
    margin: 0 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  header nav a:hover {
    color: #ccc;
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Hero Section Styles */
  
  #hero {
    background-image: linear-gradient(to bottom, #333, #666);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  #hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  #hero button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #hero button:hover {
    background-color: #ccc;
  }
  
  /* Destinations Section Styles */
  
  #destinations {
    padding: 40px;
  }
  
  #destinations ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #destinations li {
    margin: 20px;
    width: calc(33.33% - 20px);
  }
  
  #destinations img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  #destinations h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  #destinations p {
    font-size: 14px;
    color: #666;
  }
  
  /* About Section Styles */
  
  #about {
    padding: 40px;
    background-color: #f7f7f7;
  }
  
  #about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 16px;
    color: #666;
  }
  
  #about img {
    width: 100%;
    height: 283px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0px auto;
  }
  
  /* Contact Section Styles */
  
  #contact {
    padding: 40px;
    background-color: #f7f7f7;
  }
  
  #contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #contact p {
    font-size: 16px;
    color: #666;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  #contact button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #contact button:hover {
    background-color: #23527c;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
  }